.image>img{
    border: 2px solid #777777;
    
  box-shadow: 5px 10px 8px #888888;
}
.image>img:hover{
    border: 1px solid #777777;
}
.image{
    padding-top: 5px;
    padding-left: 5px;

}
.download{
    background-color: #4CAF50;
    color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px ;
  border: 1px solid white;
}
.copy{
    color: black;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px ;
  border: 1px solid black;
}
.download:hover{
    background-color: #777777;
}
.copy:hover{
    background-color: #777777;
}

/*Partnet*/
.fa{
margin-left: 5px;
}
